<app-navbar></app-navbar>
<div *ngIf="cargando" class="loading-screen">
  <div class="loader-card">
    
     <h2>Cargando información agroclimática...</h2>

    <p>
      Consultando WRF vigente y humedad de suelo.
    </p>

    <div class="progress-container">
      <div class="progress-bar"></div>
    </div>

<button *ngIf="errorCarga" (click)="volverMapa()">
  Volver al mapa
</button>
  </div>
  
</div>

<div *ngIf="!cargando" class="dashboard">
 

  <aside class="sidebar">

    <h2>🌱 WRF Agro</h2>

    <button class="back-btn" (click)="volverMapa()">
      ← Volver al mapa
    </button>

    <div class="weather-main">
      <p>Temperatura promedio</p>
      <h1>{{ diaActual?.temp | number:'1.2-2' }}°C</h1>
      
    </div>

    <div class="location">
      <span>Punto seleccionado</span>
      <p><b>Lat:</b> {{ lat | number:'1.4-4' }}</p>
      <p><b>Lon:</b> {{ lon | number:'1.4-4' }}</p>
    </div>

  </aside>

  <main class="content">

    <div class="topbar">
      <div>
        <h1>Dashboard Meteorológico</h1>
        <p>Resumen climático para el punto WRF seleccionado</p>
        <p class="fecha-dashboard">
          Pronóstico vigente: {{ fechaPronostico }}
        </p>
      </div>
    </div>

    <section class="forecast-strip" *ngIf="pronosticoResumen.length">

  <div class="forecast-day" *ngFor="let d of pronosticoResumen">
    <h4>{{ d.fecha }}</h4>

    <div class="forecast-values">
      <span>🌡️ Máx: {{ d.tmax | number:'1.1-1' }}°C</span>
      <span>❄️ Mín: {{ d.tmin | number:'1.1-1' }}°C</span>
      <span>🌧️ Lluvia: {{ d.rain | number:'1.1-1' }} mm</span>
      <span>💧 HR: {{ d.rh | number:'1.0-0' }}%</span>
    </div>
  </div>

</section>

    <section class="grid">

     <div class="panel large">
  <h3>Humedad de suelo</h3>

  <select [(ngModel)]="profundidad" (change)="cargarHumedad()">
    <option value="0_5">Humedad de 0-5 cm</option>
    <option value="5_15">Humedad de 5-15 cm</option>
    <option value="15_30">Humedad de 15-30 cm</option>
    <option value="30_60">Humedad de 30-60 cm</option>
    <option value="60_100">Humedad de 60-100 cm</option>
    <option value="100_200">Humedad de 100-200 cm</option>
  </select>

  <select [(ngModel)]="variableHumedad" (change)="cargarHumedad()">
    <option value="soilw010">soilw010</option>
    <option value="soilw1040">soilw1040</option>
  </select>

  <p *ngIf="humedad">
    Estado: {{ humedad.estado.nom_ent }} |
    PMP: {{ humedad.referencia.pmp }} |
    CC: {{ humedad.referencia.cc }}
  </p>
  <div
  class="riego-alerta"
  [class.regar]="recomendacionRiego === 'Regar'"
  [class.no-regar]="recomendacionRiego === 'No regar'">

  <!--<strong>{{ recomendacionRiego }}</strong>-->

  <span>
    Umbral medio:
    {{ umbralRiego | number:'1.2-2' }}
  </span>

</div>

  <div class="chart-box"  *ngIf="humedad">
    @if (authService.puedeDescargar()) {
    <div class="chart-actions">
  <button (click)="descargarGraficaPNG('humedad')">PNG</button>
  <button (click)="descargarCSV('humedad')">CSV</button>
  <button (click)="descargarPDF('humedad')">PDF</button>
</div>
}
    <canvas
  baseChart
  #humedadChart="base-chart"
  [data]="humedadChartData"
  [options]="humedadChartOptions"
  [type]="'bar'">
</canvas>
  </div>
</div>

      <div class="panel">

  <h3>🌬️ Condiciones del viento para la fecha actual</h3>

  <p>
    <b>Velocidad:</b>
    {{ obtenerVelocidadViento(diaActual?.u, diaActual?.v) | number:'1.2-2' }}
    m/s
  </p>

  <p>
    <b>Dirección:</b>
    {{ obtenerDireccionViento(diaActual?.u, diaActual?.v) }}
  </p>

  <p>
    <b>Racha máxima:</b>
    {{ diaActual?.gust | number:'1.2-2' }} m/s
  </p>

  <hr>

  <h3>🌱 Condiciones del suelo para la fecha actual</h3>

  <p>
    <b>Humedad superficial (0–10 cm):</b>
    {{ diaActual?.soilw010 | number:'1.2-2' }}
  </p>

  <p>
    <b>Humedad radicular (10–40 cm):</b>
    {{ diaActual?.soilw1040 | number:'1.2-2' }}
  </p>

  <p>
    <b>Temperatura del suelo (0–10 cm):</b>
    {{ diaActual?.tsoil010 | number:'1.2-2' }} °C
  </p>

</div>

      
       </section>
     <!-- 
      
      <div class="panel large">
        <h3>Histórico GDD</h3>
        
        <div class="date-controls">
          <input type="date" [(ngModel)]="fechaInicio" [min]="fechaMinimaGdd" [max]="fechaMaximaGdd">
          <input type="date" [(ngModel)]="fechaFin" [min]="fechaMinimaGdd" [max]="fechaMaximaGdd">
          <select [(ngModel)]="cultivoGdd" (change)="cargarHistorico()">
            <option value="maiz">Maíz</option>
            <option value="frijol">Frijol</option>
            <option value="sorgo">Sorgo</option>
          </select>
         <button (click)="cargarHistorico()" [disabled]="cargandoHistorico">
  {{ cargandoHistorico ? 'Consultando...' : 'Consultar histórico' }}
</button>
        </div>
<span style="text-align:center;  font-size: 13px;  color: #566656;">*solo se muestra consultas en un rango de 5 años, el rango de fechas influye directamente en cuanto puede tardar el sistema en mostrar la información</span>
        <div *ngIf="cargandoHistorico" class="gdd-loading">
  <div class="mini-loader"></div>
  <p>Cargando histórico GDD...</p>
</div>
<p *ngIf="errorHistorico" class="error-text">
  {{ errorHistorico }}
</p>
<div class="chart-box" *ngIf="!cargandoHistorico">
  @if (authService.puedeDescargar()) {
  <div class="chart-actions">
  <button (click)="descargarGraficaPNG('gdd')">PNG</button>
  <button (click)="descargarCSV('gdd')">CSV</button>
  <button (click)="descargarPDF('gdd')">PDF</button>
</div>
}
 <canvas
  baseChart
  #gddChart="base-chart"
  [data]="gddChartData"
  [options]="gddChartOptions"
  [type]="'line'">
</canvas>
</div>
</div>

      <div class="panel">
        <h3>Riesgo meteorológico</h3>

        <p><b>Reflectividad:</b> {{ diaActual?.refmax | number:'1.2-2' }}</p>
        <p><b>Granizo:</b> {{ diaActual?.hail | number:'1.2-2' }}</p>
        <p><b>Graupel:</b> {{ diaActual?.graupel | number:'1.2-2' }}</p>
      </div>




   
  -->
  </main>

</div>