<app-navbar></app-navbar>
<div *ngIf="cargando" class="loading-screen">
  <div class="loader-card">
    
     <h2>Cargando información agroclimática...</h2>

    <p>
      Consultando WRF vigente y humedad de suelo.
    </p>

    <div class="progress-container">
      <div class="progress-bar"></div>
    </div>

<button *ngIf="errorCarga" (click)="volverMapa()">
  Volver al mapa
</button>
  </div>
  
</div>

<div *ngIf="!cargando" class="dashboard">
 

  <aside class="sidebar">

    <h2>🌱 Dashboard</h2>

    <button class="back-btn" (click)="volverMapa()">
      ← Volver al mapa
    </button>

    <div class="weather-main">
      <p>Temperatura promedio del día actual</p>
      <h1>{{ diaActual?.temp | number:'1.2-2' }}°C</h1>
      
    </div>

    <div class="location">
      <span>Punto seleccionado</span>
      <p><b>Lat:</b> {{ lat | number:'1.4-4' }}</p>
      <p><b>Lon:</b> {{ lon | number:'1.4-4' }}</p>
    </div>

  </aside>

  <main class="content">

    <div class="topbar">
      <div>
        <h1>Tablero Digital Agrometeorológico</h1>
        <p>Resumen Edafoclimático; WRF, SoilGrids, INIFAP</p>
        <p class="fecha-dashboard">
          Pronóstico Meteorológico a Cinco Días
        </p>
      </div>
    </div>

    <section class="forecast-strip" *ngIf="pronosticoResumen.length">

  <div class="forecast-day" *ngFor="let d of pronosticoResumen">
    <h4>{{ d.fecha }}</h4>

    <div class="forecast-values">
      <span>🌡️ Máx: {{ d.tmax | number:'1.1-1' }}°C</span>
      <span>❄️ Mín: {{ d.tmin | number:'1.1-1' }}°C</span>
      <span>🌧️ Lluvia: {{ d.rain | number:'1.1-1' }} mm</span>
      <span>💧 HR: {{ d.rh | number:'1.0-0' }}%</span>
    </div>
  </div>

</section>

    <section class="grid">

        <div class="panel large humedad-panel">

        <h3>Humedad de suelo</h3>

        <div class="humidity-controls">
          <select
            [(ngModel)]="profundidad"
            (change)="cargarHumedad()"
          >
            <option value="0_10">Umbrales de 0-10 cm</option>
            <option value="10_40">Umbrales de 10-40 cm</option>
            <option value="40_100">Umbrales de 40-100 cm</option>
            <option value="100_200">Umbrales de 100-200 cm</option>
          </select>

         <select
  [(ngModel)]="variableHumedad"
  (change)="cambiarVariableHumedad()"
>
  <option value="soilw010">soilw010</option>
  <option value="soilw1040">soilw1040</option>
</select>
        </div>

        <p *ngIf="humedad" class="humidity-reference">
          Estado: {{ humedad.estado.nom_ent }} |
          PMP: {{ humedad.referencia.pmp }} |
          CC: {{ humedad.referencia.cc }}
        </p>

       <div
  class="aud-card"
  [ngClass]="audClase"
>
  <div class="aud-valor">
    {{ aud | number:'1.0-1' }}%
  </div>

  <div class="aud-info">
    <div class="aud-etiqueta">
      Agua útil disponible para hoy
    </div>

    <div class="aud-titulo">
      {{ audTitulo }}
    </div>

    <div class="aud-mensaje">
      {{ audMensaje }}
    </div>

    <div class="aud-datos">
      <span>
        Humedad WRF:
        {{ humedadActualAud | number:'1.4-4' }} m³/m³
      </span>

      <span>
        PMP:
        {{ humedad?.referencia?.pmp | number:'1.4-4' }} m³/m³
      </span>

      <span>
        CC:
        {{ humedad?.referencia?.cc | number:'1.4-4' }} m³/m³
      </span>
    </div>
  </div>
</div>

        <div class="chart-box" *ngIf="humedad">
          @if (authService.puedeDescargar()) {
            <div class="chart-actions">
              <button (click)="descargarGraficaPNG('humedad')">PNG</button>
              <button (click)="descargarCSV('humedad')">CSV</button>
              <button (click)="descargarPDF('humedad')">PDF</button>
            </div>
          }

          <div class="chart-canvas-wrap">
            <canvas
              baseChart
              #humedadChart="base-chart"
              [data]="humedadChartData"
              [options]="humedadChartOptions"
              [type]="'bar'"
            ></canvas>
          </div>
        </div>
      </div>

     <div class="panel convectivo-panel">

  <h3>⛈️ Potencial convectivo</h3>

  <div
  class="vpd-card"
  [ngClass]="vpdClase"
>

  <div class="vpd-valor">
    <span *ngIf="vpdActual !== null">
      {{ vpdActual | number:'1.2-2' }}
      <small>kPa</small>
    </span>

    <span *ngIf="vpdActual === null">
      —
    </span>
  </div>

  <div class="vpd-info">

    <div class="vpd-etiqueta">
      Déficit de presión de vapor
    </div>

    <div class="vpd-titulo">
      {{ vpdTitulo }}
    </div>

    <div class="vpd-mensaje">
      {{ vpdMensaje }}
    </div>

    <div class="vpd-datos">
      <span>
        Temperatura:
        {{ diaActual?.temp | number:'1.1-1' }} °C
      </span>

      <span>
        HR:
        {{ diaActual?.rh | number:'1.0-0' }} %
      </span>
    </div>

  </div>

</div>
<p>
  <strong>Punto de rocío:</strong>
  {{ diaActual?.dewpoint | number:'1.1-1' }} °C
</p>
  <p>
    <b>Helicidad relativa (0–3 km):</b>
    {{ diaActual?.srh3000 | number:'1.0-0' }} m²/s²
  </p>

  <p>
    <b>Reflectividad máxima:</b>
    {{ diaActual?.refmax | number:'1.2-2' }} dBZ
  </p>

  <p>
    <b>Granizo:</b>
    {{ diaActual?.hail | number:'1.2-2' }}
  </p>

  <p>
    <b>Graupel:</b>
    {{ diaActual?.graupel | number:'1.2-2' }}
  </p>

  <hr>

  <h3>🌱 Condiciones del suelo</h3>

  <p>
    <b>Humedad superficial (0–10 cm):</b>
    {{ diaActual?.soilw010 | number:'1.2-2' }} %
  </p>

  <p>
    <b>Humedad radicular (10–40 cm):</b>
    {{ diaActual?.soilw1040 | number:'1.2-2' }} %
  </p>

  <p>
    <b>Temperatura del suelo (0–10 cm):</b>
    {{ diaActual?.tsoil010 | number:'1.2-2' }} °C
  </p>

</div>

      
     
  
      
     <div class="panel large gdd-panel">
        <h3>Histórico GDD</h3>
        
        <div class="date-controls">
          <input type="date" [(ngModel)]="fechaInicio" [min]="fechaMinimaGdd" [max]="fechaMaximaGdd">
          <input type="date" [(ngModel)]="fechaFin" [min]="fechaMinimaGdd"  [max]="fechaMaximaGdd">
          <select [(ngModel)]="cultivoGdd" (change)="cargarHistorico()">
            <option value="maiz">Maíz</option>
            <option value="frijol">Frijol</option>
            <option value="sorgo">Sorgo</option>
          </select>
         <button (click)="cargarHistorico()" [disabled]="cargandoHistorico">
  {{ cargandoHistorico ? 'Consultando...' : 'Consultar histórico' }}
</button>
        </div>
<span style="text-align:center;  font-size: 13px;  color: #566656;">*solo se muestra consultas en un rango de 5 años, el rango de fechas influye directamente en cuanto puede tardar el sistema en mostrar la información</span>
        <div *ngIf="cargandoHistorico" class="gdd-loading">
  <div class="mini-loader"></div>
  <p>Cargando histórico GDD...</p>
</div>
<p *ngIf="errorHistorico" class="error-text">
  {{ errorHistorico }}
</p>


<div class="chart-box gdd-chart-box" *ngIf="!cargandoHistorico">
  @if (authService.puedeDescargar()) {
  <div class="chart-actions">
  <button (click)="descargarGraficaPNG('gdd')">PNG</button>
  <button (click)="descargarCSV('gdd')">CSV</button>
  <button (click)="descargarPDF('gdd')">PDF</button>
</div>

 
<div class="gdd-resumen" *ngIf="historico?.serie?.length">

  <div class="gdd-resumen-icono">
    🌱
  </div>

  <div class="gdd-resumen-info">
    <div class="gdd-resumen-titulo">
      GDD ACUMULADO
    </div>

    <div class="gdd-resumen-valor">
      {{ gddAcumulado | number:'1.2-2' }}
    </div>

    <div class="gdd-resumen-fechas">
      {{ fechaInicio | date:'dd MMM' }} - {{ fechaFin | date:'dd MMM' }}
    </div>
  </div>

</div>

}
 <canvas
  baseChart
  #gddChart="base-chart"
  [data]="gddChartData"
  [options]="gddChartOptions"
  [type]="'line'">
</canvas>
</div>
</div>




   
 </section>
  </main>

</div>